button {
  /* padding-left: 10px; padding-right: 10px; */
  /* width: 100px; */
  /* height: 60px; */
}

img {
  max-width: 13%;
}

.content {
  width: 1024px ;
  margin-left: auto ;
  margin-right: auto ;
}
