<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Push It</title>
    <meta name="description" content="Deploy Website">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <!-- <link rel="shortcut icon" href="/img/favicon.ico"> -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
  </head>
          
  <body>

  <h1>Push It</h1>

  <img src="https://a248.e.akamai.net/camo.github.com/35c649cac80b910194bfa2861bdadd34ef2279db/687474703a2f2f692e696d6775722e636f6d2f616f5855372e6a7067" alt="push-it" style="max-width:100%;">
  <br />

  <button type="button">dev1</button>
  <button type="button">dev2</button>

  <br />
  <br />
  <br />
  <br />

  <button type="button">stage1</button>
  <button type="button">stage2</button>

  <br />
  <br />
  <br />
  <br />

  <button type="button">prod1</button>
  <button type="button">prod2</button>
  <button type="button">prod3</button>
  <button type="button">prod4</button>

  </body>
</html>
